body
{
    font-family: 'Roboto', sans-serif;
}

div.campo
{
    display: inline-block;
}

button.ferramentas
{
    margin-top: 10px;
}

table
{
    width: 100%;
    margin-top: 10px;
    border: 1px solid black;
}

tr
{
    text-align: center;
    border:  1px solid black;
}